<div class="section scrollspy">
  <div class="container">
    <div class="row">
      <span class="md-headline"> 
        {{selectedSection.all.title}}
      </span>
    </div>
    <div class="row">
      <span class="md-sub-headline">
        <ng-md-icon class="md-avatar" size="15" icon="home" style="fill: #666666"></ng-md-icon>
          {{selectedSection.all.company}} 
        <ng-md-icon class="md-avatar" size="15" icon="location_on" style="fill: #666666"></ng-md-icon>
          {{selectedSection.all.location}}
      </span>
    </div>
  </div>
</div>