body {
  // padding-top: 50px;
}

.collapsible-header {
  line-height: 1.5rem;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar-fixed-top {
  border: 0;
}

md-card md-card-content>p:first-child {
  margin-top: 20px;
}

.site-content-toolbar {
  background: #f6f6f6 !important;
  color: #666 !important;
  z-index: 3;
  padding-left: 15px;
}

.site-content-toolbar {
  background: #f6f6f6 !important;
  color: #202020 !important;
  z-index: 3;
}

.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}


/* Sidebar navigation */

.nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.main {
  padding: 20px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.main .page-header {
  margin-top: 0;
}

.whiteframedemoBasicUsage md-whiteframe {
  background: #fff;
  margin: 30px;
  height: 100px;
}

@media screen and (max-width: 599px) {
  .whiteframedemoBasicUsage md-whiteframe {
    margin: 7px;
    height: 50px;
    background-color: #c8e4fa;
  }
  .whiteframedemoBasicUsage md-whiteframe > span {
    font-size: 0.4em;
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  .whiteframedemoBasicUsage md-whiteframe {
    margin: 20px;
    height: 75px;
  }
  .whiteframedemoBasicUsage md-whiteframe > span {
    font-size: 0.6em;
  }
}

@media screen and (min-width: 960px) and (max-width: 1199px) {
  .whiteframedemoBasicUsage md-whiteframe {
    margin: 20px;
    height: 90px;
    background-color: #fcddde;
  }
  .whiteframedemoBasicUsage md-whiteframe > span {
    font-size: 0.9em;
  }
}

@media screen and (min-width: 1200px) {
  .whiteframedemoBasicUsage md-whiteframe {
    margin: 25px;
    height: 100px;
    background-color: #F2FCE2;
  }
  .whiteframedemoBasicUsage md-whiteframe > span {
    font-size: 1.0em;
  }
}

img.responsive-img {
  max-width: 100%;
  height: auto;
}

img {
  border: 0;
}

.logo {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px auto;
  margin: 0 auto;
}

.logotype {
  margin-top: 40px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
}

.logo > img {
  height: 150px;
  width: auto;
  display: block;
  transform-origin: 50% 0;
  transform: scale(1.2);
}

a.logo {
  border-bottom: none;
}

img.circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  height: 150px;
  width: auto;
  display: block;
  transform-origin: 50% 0;
  transform: scale(1.2);
}


/*
md-card md-card-title {
  padding: 24px 16px 30px;
}
*/

// box rotate
.box {
  margin: 50px auto;
  background: #5FCF80;
  width: 150px;
  height: 150px;
}

.box:hover {
  transform: rotate(360deg);
  background: #9351A6;
  border-radius: 50%;
}

.rotate {
  transition: all 0.5s ease-in-out;
}

.rotate:hover {
  transition: all 1s ease-in-out;
}


/**/

@import url(//fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

html {
  font-family: 'Roboto Slab', serif;
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

md-toolbar.md-default-theme {
  background-color: black;
}

.class-home {
  background-color: rgb(246, 246, 246);
  //height: 100%;
}

.class-center {
  position: relative;
  top: 50%;
  transform: translateY(-70%);
}

.card-image {
  opacity: 0.6;
  filter: alpha(opacity=40);
}

section.jumbotron {
  margin-bottom: 30px;
  padding: 1px 30px;
  text-align: center;
  color: #3e4f56;
}

section.jumbotron h1 {
  font-size: 3em;
}

.card .card-content .card-title {
  font-size: 1em;
}

// malarkey
.acme-malarkey {
  text-transform: capitalize;
  color: #cb3837;
}

.acme-malarkey:after {
  animation: cursor-blink 0.4s linear infinite;
  content: "|";
  color: #cb3837;
}

@keyframes cursor-blink {
  1% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.menu-item.ng-enter {
  -webkit-animation: fadeInLeft 1s;
  animation: fadeInLeft 1s;
}

.menu-item.ng-enter-stagger {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
  /* override to make sure it's not inherited from other styles */
  -webkit-animation-duration: 0;
  animation-duration: 0;
}